@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}
<div asp-validation-summary="All"></div>

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="SendEmail" method="post">
			<input class="text" asp-for="Email" placeholder="Email" required="">
	
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

@section validationScriptSection{

	<partial name="_ValidationScriptsPartial" />

}